*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 16px;
  cursor: crosshair;
}

::selection {
  background-color: transparent;
  color: springgreen;
}

body {
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  word-break: keep-all;
  background-color: black;

  -ms-overflow-style: none;
  }
 
  ::-webkit-scrollbar {
    display: none;   
}

img, video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: -1;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
}

h1 {
  font-size: 2vw;
  font-weight: 800;
  line-height: 1.5;
  color: white;
}

h2 {
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 1.6;
  color: white;
  margin-bottom: .8vw;
}

p {
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 1.6;
  color: white;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 2vw;
    font-weight: 800;
    line-height: 1.6;
    color: white;
    margin-bottom: .8vw;
  }

  p {
    font-size: 2vw;
    font-weight: 800;
    line-height: 1.6;
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.45vw;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    margin-bottom: .8vw;
  }

  p {
    font-size: 1.45vw;
    font-weight: 800;
    line-height: 1.5;
    color: white;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 1.45vw;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    margin-bottom: .8vw;
  }

  p {
    font-size: 1.45vw;
    font-weight: 800;
    line-height: 1.5;
    color: white;
  }
}

@media screen and (min-width: 1400px) {
  h2 {
    font-size: 1.45vw;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    margin-bottom: .8vw;
  }

  p {
    font-size: 1.45vw;
    font-weight: 800;
    line-height: 1.5;
    color: white;
  }
}

.third-frame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -28%);
  width: 89%;
  height: auto;
  padding-left: 5.6vw;
  padding-right: 5.6vw;
  text-align: center;
}

article {
  width: 92%;
  height: auto;
  margin: 0 auto;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.fourth-frame {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5vw 8vw;
}

audio {
  width: 100%;
  min-width: 100px;
  max-width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  margin-right: 2vw;
  padding-right: 6vw;
}

.m-bottom {
  margin-bottom: 2vw;
}

.gap {
  margin-bottom: -0.2vw;
}

@media screen and (min-width: 600px) {
  .gap {
    margin-bottom: -0.2vw;
  }
}

@media screen and (min-width: 1024px) {
  .gap {
    margin-bottom: -0.1vw;
  }
}

@media screen and (min-width: 1200px) {
  .gap {
    margin-bottom: -0.2vw;
  }
}

@media screen and (min-width: 1400px) {
  .gap {
    margin-bottom: 0.1vw;
  }
}